
/*全局样式*/
.fl{
	float: left;
}
.fr{
	float: right;
}
.clearfix{
	clear:both;
	overflow:hidden;
}
.g-doc{
	
	margin: 0 auto;
	margin-top: 30px;
    min-width: 810px;
    width: 100%
    margin-left: 30px;
   
}
.g-hd{
    
    height: 45px;
}
.M-nav{
	width: 100%;
	min-width: 810px;
}
.M-nav-list{
	display: inline-block;
	list-style: none;
	border: 1px solid #1db0e3;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	width: 10.5%;
	height: 30px;
	font-size: 14px;
	text-align: center;
	font-family: '微软雅黑'；
	font-weight:1000;
	line-height: 30px;
	float: left;

}
	

.M-nav-list a{
	color: #00508a;
}
.g-bd{
	
	
	border:2px solid #1bb1e3;
	min-width: 800px;
}
.g-mn ,.g-sd{
	
	text-align: center;
	width:100%;
	border:1px solid #1bb1e4;
	
	
}
.g-mn{
	height: 100%;
	width: 100%;
}
.g-sd{
	text-align: center;
}
.user-info{
	background-color: #b8e2fa;
    height: 50px;
	line-height: 50px;
    color: #00508b;
    margin-top: -0px;
  }
  .user-info h2{
  	text-align: center;
  	font-size: 16px;
  	font-family: '微软雅黑'；
  }
.info-title p{
  font-size: 13px;
}
.smlList{
	margin: 0 0 0 0;
}



.M-table-tit{
	
    height: 60px;
	background-image:linear-gradient(to top,#b1dff9,#fafeff);
	color: #00508b;
	font-family: '微软雅黑'；
	text-align: center;
	line-height: 60px;
}


.select{
	background-color: #b3dff8;
}
.M-table-btn{
	line-height: 60px;
	margin-right:10%;
}
input{
	width: 90px;
}
ul{

	list-style: none;
}
#container{
	margin-top: 20px;
	margin-left: 5px;
}

select{
  margin-bottom: 0px;
}
