.g-mn{
	height: 100%;
}
.M-table-tit h2 {
	margin-left: 25%;
}


.M-table-tit{
	width: 100%;
}
.M-table-btn{
	margin-right: 25px;
}
input{
	width: 50px;
}
.M-table-btn{
	margin-left: 6%;
}
.content-bottom{
	border: none;
	display: block;
	
}
